.sideNav{
    height: calc(100vh - 3.4rem);
    position: fixed;
    top: 3.4rem;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    justify-content: center;
    padding: 20px;
    align-items: center;
    transition: 500ms;
    background: #000;
    color: #FFF;
    z-index: 999;
}


.hideNav{
    right: -100%;
    transition: 500ms;

}